In [ ]:
import pyspark
from pyspark.sql import SparkSession

user = "mongo"
passwd = "SU2orange!"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = "minio"
s3_secret_key = "SU2orange!"
mongo_uri = f"mongodb://{user}:{passwd}@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = "SU2orange!"
mssql_url = "jdbc:sqlserver://mssql:1433;databaseName=sidearmdb" + ";" + "databaseName=" + "sidearmdb" + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.microsoft.azure#spark-mssql-connector_2.12 added as a dependency
com.microsoft.sqlserver#mssql-jdbc added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-af34e8b2-f191-461e-9c8f-bdea2192d86a;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 in central
	found com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 in central
:: resolution report :: resolve 932ms :: artifacts dl 20ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 from central in [default]
	com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-af34e8b2-f191-461e-9c8f-bdea2192d86a
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/16ms)
24/03/08 21:42:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [ ]:
# HOW TO READ FROM MSSQL
df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df.show()

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

In [ ]:
# HOW TO WRITE TO MSSQL
df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()
df.show()

+---+----+----------+----+------+
| id|name|conference|wins|losses|
+---+----+----------+----+------+
+---+----+----------+----+------+

In [ ]:
# TODO: Read the gamestream.txt from minio
from pyspark.sql.functions import col
gamestream = spark.read.text(f"s3a://gamestreams/gamestream.txt")
#gamestream.show()
#gamestream.printSchema()


dfNew= gamestream.selectExpr(
  "split(value, '[ ]')[0] as eventId",
  "split(value, '[ ]')[1] as eventTimestamp",
  "split(value, '[ ]')[2] as teamId",
  "split(value, '[ ]')[3] as jerseyNumber",
  "split(value, '[ ]')[4] as goal")
#dfNew.show()

dfNew = dfNew.withColumn("eventId", col("eventId").cast("int"))\
                     .withColumn("eventTimestamp", col("eventTimestamp").cast("string"))\
                     .withColumn("teamId", col("teamId").cast("int"))\
                     .withColumn("jerseyNumber", col("jerseyNumber").cast("int"))\
                     .withColumn("goal", col("goal").cast("int"))

dfNew.show()

+-------+--------------+------+------------+----+
|eventId|eventTimestamp|teamId|jerseyNumber|goal|
+-------+--------------+------+------------+----+
|      0|         59:51|   101|           2|   0|
|      1|         57:06|   101|           6|   0|
|      2|         56:13|   205|           8|   1|
|      3|         55:25|   101|           4|   0|
|      4|         55:03|   101|           1|   1|
|      5|         54:50|   101|          17|   0|
|      6|         54:14|   205|           8|   0|
|      7|         53:59|   101|           9|   0|
|      8|         53:23|   101|           2|   0|
|      9|         51:21|   101|          13|   0|
|     10|         49:55|   101|           1|   1|
|     11|         49:28|   101|           2|   1|
|     12|         48:52|   101|          10|   1|
|     13|         47:52|   101|           4|   1|
|     14|         47:44|   101|           9|   0|
|     15|         46:38|   101|           2|   0|
|     16|         45:49|   101|           1|   1|
|     17|         45:31|   101|           4|   0|
|     18|         43:29|   205|           1|   1|
|     19|         41:54|   205|           1|   1|
+-------+--------------+------+------------+----+
only showing top 20 rows

In [ ]:


from pyspark.sql.functions import col, sum as spark_sum,count

playerDF = dfNew.groupBy("teamId", "jerseyNumber") \
    .agg(spark_sum("goal").alias("totalGoals"), count(col("goal").cast("int")).alias("totalShots"))


teamDF = dfNew.groupBy("teamId") \
    .agg(spark_sum("goal").alias("totalTeamGoals"))

finalstatsdf = playerDF.join(teamDF, "teamId", "inner")

finalstatsdf.show()

+------+------------+----------+----------+--------------+
|teamId|jerseyNumber|totalGoals|totalShots|totalTeamGoals|
+------+------------+----------+----------+--------------+
|   205|           9|         0|         4|             9|
|   205|           2|         1|         3|             9|
|   101|           9|         0|         5|            14|
|     0|           0|         0|         1|             0|
|   101|          10|         1|         3|            14|
|   101|           2|         2|         7|            14|
|   101|           8|         0|         4|            14|
|   205|          16|         0|         1|             9|
|   101|          13|         1|         7|            14|
|   101|           6|         2|         4|            14|
|   101|          15|         1|         3|            14|
|   205|           3|         0|         1|             9|
|   205|          15|         2|         2|             9|
|   205|           5|         1|         2|             9|
|   101|           1|         6|         8|            14|
|   205|           1|         3|         3|             9|
|   205|          22|         0|         1|             9|
|   205|          17|         1|         3|             9|
|   205|           8|         1|         2|             9|
|   101|           4|         1|         5|            14|
+------+------------+----------+----------+--------------+
only showing top 20 rows

In [ ]:

from pyspark.sql import functions as F

# Joining the two DataFrames
joineddf = dfNew.join(finalstatsdf, ["teamId", "jerseyNumber"], "inner")


latest_event_df = joineddf.groupBy("teamId").agg(
    F.max("eventId").alias("latest_event_id"),
    F.max("eventTimestamp").alias("latest_event_timestamp")
)

latest_event_df = latest_event_df.dropDuplicates(["teamId"])

resultdf = joineddf.join(
    latest_event_df,
    joineddf.teamId == latest_event_df.teamId,
    "inner"
).select(
    joineddf["teamId"],
    joineddf["jerseyNumber"],
    joineddf["eventId"],
    joineddf["eventTimestamp"],
    joineddf["totalGoals"],
    joineddf["totalShots"],
    joineddf["totalTeamGoals"],
    latest_event_df["latest_event_id"],
    latest_event_df["latest_event_timestamp"]
)


resultdf.select(
    joineddf["teamId"],
    joineddf["jerseyNumber"],
    joineddf["totalGoals"],
    joineddf["totalShots"],
    joineddf["totalTeamGoals"],
    latest_event_df["latest_event_id"],
    latest_event_df["latest_event_timestamp"]
).show()

+------+------------+----------+----------+--------------+---------------+----------------------+
|teamId|jerseyNumber|totalGoals|totalShots|totalTeamGoals|latest_event_id|latest_event_timestamp|
+------+------------+----------+----------+--------------+---------------+----------------------+
|   101|           9|         0|         5|            14|             69|                 59:51|
|   101|           9|         0|         5|            14|             69|                 59:51|
|   101|           9|         0|         5|            14|             69|                 59:51|
|   101|           9|         0|         5|            14|             69|                 59:51|
|   101|           9|         0|         5|            14|             69|                 59:51|
|   101|          10|         1|         3|            14|             69|                 59:51|
|   101|          10|         1|         3|            14|             69|                 59:51|
|   101|          10|         1|         3|            14|             69|                 59:51|
|   101|           2|         2|         7|            14|             69|                 59:51|
|   101|           2|         2|         7|            14|             69|                 59:51|
|   101|           2|         2|         7|            14|             69|                 59:51|
|   101|           2|         2|         7|            14|             69|                 59:51|
|   101|           2|         2|         7|            14|             69|                 59:51|
|   101|           2|         2|         7|            14|             69|                 59:51|
|   101|           2|         2|         7|            14|             69|                 59:51|
|   101|           8|         0|         4|            14|             69|                 59:51|
|   101|           8|         0|         4|            14|             69|                 59:51|
|   101|           8|         0|         4|            14|             69|                 59:51|
|   101|           8|         0|         4|            14|             69|                 59:51|
|   101|          13|         1|         7|            14|             69|                 59:51|
+------+------------+----------+----------+--------------+---------------+----------------------+
only showing top 20 rows

In [ ]:



teamsdf = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

boxPlayers = resultdf.join(df,
                           (resultdf.jerseyNumber == df.number),  # Add comma here
                           "left") \
                     .select(resultdf["*"], df["id"].alias("playerId"), df["name"])

# Joining team statistics with team reference data
boxScores = boxPlayers.join(teamsdf, boxPlayers.teamId == teamsdf.id, "inner") \
    .select(boxPlayers["*"], teamsdf["name"].alias("teamName"), teamsdf["conference"], teamsdf["wins"], teamsdf["losses"])


boxScores.show()

+------+------------+-------+--------------+----------+----------+--------------+---------------+----------------------+--------+-----+--------+----------+----+------+
|teamId|jerseyNumber|eventId|eventTimestamp|totalGoals|totalShots|totalTeamGoals|latest_event_id|latest_event_timestamp|playerId| name|teamName|conference|wins|losses|
+------+------------+-------+--------------+----------+----------+--------------+---------------+----------------------+--------+-----+--------+----------+----+------+
|   101|           1|     67|         03:22|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|     67|         03:22|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|           1|     54|         18:24|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|     54|         18:24|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|           1|     52|         20:22|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|     52|         20:22|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|           1|     24|         40:20|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|     24|         40:20|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|           1|     20|         41:09|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|     20|         41:09|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|           1|     16|         45:49|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|     16|         45:49|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|           1|     10|         49:55|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|     10|         49:55|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|           1|      4|         55:03|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|   101|           1|      4|         55:03|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|   101|          13|     68|         00:42|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
|   101|          13|     63|         07:42|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
|   101|          13|     46|         25:17|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
|   101|          13|     39|         30:26|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
+------+------------+-------+--------------+----------+----------+--------------+---------------+----------------------+--------+-----+--------+----------+----+------+
only showing top 20 rows

In [ ]:


from pyspark.sql.functions import col, collect_list, struct, sum as spark_sum, max as spark_max, when
import json


home_team = boxScores.filter(col("teamId") == 101).agg(
    spark_max("latest_event_id").alias("latest_event_id"),
    spark_max("latest_event_timestamp").alias("latest_event_timestamp"),
    spark_max("conference").alias("conference"),
    spark_sum("wins").alias("total_wins"),
    spark_sum("losses").alias("total_losses"),
    spark_sum("totalGoals").alias("total_Goals"),
    collect_list(
        struct(
            col("playerId").alias("id"),
            col("name"),
            col("totalShots").alias("shots"),
            col("totalGoals").alias("goals"),
            (col("totalGoals") / col("totalShots")).alias("pct")
        )
    ).alias("players")
).collect()[0]

away_team = boxScores.filter(col("teamId") == 205).agg(
    spark_max("latest_event_id").alias("latest_event_id"),
    spark_max("latest_event_timestamp").alias("latest_event_timestamp"),
    spark_max("conference").alias("conference"),
    spark_sum("wins").alias("total_wins"),
    spark_sum("losses").alias("total_losses"),
    spark_sum("totalGoals").alias("total_Goals"),
    collect_list(
        struct(
            col("playerId").alias("id"),
            col("name"),
            col("totalShots").alias("shots"),
            col("totalGoals").alias("goals"),
            (col("totalGoals") / col("totalShots")).alias("pct")
        )
    ).alias("players")
).collect()[0]

home_doc = {
    "_id": str(home_team["latest_event_id"]),
    "timestamp": home_team["latest_event_timestamp"],
    "home": {
        "teamid": 101,
        "conference": home_team["conference"],
        "wins": home_team["total_wins"],
        "losses": home_team["total_losses"],
        "score": home_team["total_Goals"],
        "status": "winning" if home_team["total_Goals"] > away_team["total_Goals"] else "losing" if home_team["total_Goals"] < away_team["total_Goals"] else "tied",
        "players": [
            {
                "id": player["id"],
                "name": player["name"],
                "shots": player["shots"],
                "goals": player["goals"],
                "pct": player["pct"]
            }
            for player in home_team["players"]
        ]
    },
    "away": {
        "teamid": 205,
        "conference": away_team["conference"],
        "wins": away_team["total_wins"],
        "losses": away_team["total_losses"],
        "score": away_team["total_Goals"],
        "status": "losing" if home_team["total_Goals"] > away_team["total_Goals"] else "winning" if home_team["total_Goals"] < away_team["total_Goals"] else "tied",
        "players": [
            {
                "id": player["id"],
                "name": player["name"],
                "shots": player["shots"],
                "goals": player["goals"],
                "pct": player["pct"]
            }
            for player in away_team["players"]
        ]
    }
}


json_data = json.dumps(home_doc)


print(json_data)

{"_id": "69", "timestamp": "59:51", "home": {"teamid": 101, "conference": "acc", "wins": 847, "losses": 154, "score": 153, "status": "winning", "players": [{"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 2, "name": "sarah", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 11, "name": "jimmy", "shots": 8, "goals": 6, "pct": 0.75}, {"id": 4, "name": "stone", "shots": 7, "goals": 1, "pct": 0.14285714285714285}, {"id": 4, "name": "stone", "shots": 7, "goals": 1, "pct": 0.14285714285714285}, {"id": 4, "name": "stone", "shots": 7, "goals": 1, "pct": 0.14285714285714285}, {"id": 4, "name": "stone", "shots": 7, "goals": 1, "pct": 0.14285714285714285}, {"id": 4, "name": "stone", "shots": 7, "goals": 1, "pct": 0.14285714285714285}, {"id": 4, "name": "stone", "shots": 7, "goals": 1, "pct": 0.14285714285714285}, {"id": 4, "name": "stone", "shots": 7, "goals": 1, "pct": 0.14285714285714285}, {"id": 1, "name": "sam", "shots": 4, "goals": 2, "pct": 0.5}, {"id": 1, "name": "sam", "shots": 4, "goals": 2, "pct": 0.5}, {"id": 1, "name": "sam", "shots": 4, "goals": 2, "pct": 0.5}, {"id": 1, "name": "sam", "shots": 4, "goals": 2, "pct": 0.5}, {"id": 9, "name": "shelly", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 14, "name": "jane", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 9, "name": "shelly", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 14, "name": "jane", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 9, "name": "shelly", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 14, "name": "jane", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 7, "name": "sol", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 7, "name": "sol", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 7, "name": "sol", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 7, "name": "sol", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 7, "name": "sol", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 5, "goals": 0, "pct": 0.0}, {"id": 5, "name": "sean", "shots": 2, "goals": 0, "pct": 0.0}, {"id": 17, "name": "james", "shots": 2, "goals": 0, "pct": 0.0}, {"id": 5, "name": "sean", "shots": 2, "goals": 0, "pct": 0.0}, {"id": 17, "name": "james", "shots": 2, "goals": 0, "pct": 0.0}, {"id": 8, "name": "shree", "shots": 5, "goals": 1, "pct": 0.2}, {"id": 8, "name": "shree", "shots": 5, "goals": 1, "pct": 0.2}, {"id": 8, "name": "shree", "shots": 5, "goals": 1, "pct": 0.2}, {"id": 8, "name": "shree", "shots": 5, "goals": 1, "pct": 0.2}, {"id": 8, "name": "shree", "shots": 5, "goals": 1, "pct": 0.2}, {"id": 6, "name": "sly", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 16, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 6, "name": "sly", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 16, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 6, "name": "sly", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 16, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 6, "name": "sly", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 16, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 10, "name": "swede", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 10, "name": "swede", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 10, "name": "swede", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 3, "name": "steve", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 13, "name": "james", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 3, "name": "steve", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 13, "name": "james", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 3, "name": "steve", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 13, "name": "james", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 3, "name": "steve", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 13, "name": "james", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 3, "name": "steve", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 13, "name": "james", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 3, "name": "steve", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 13, "name": "james", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 3, "name": "steve", "shots": 7, "goals": 2, "pct": 0.2857142857142857}, {"id": 13, "name": "james", "shots": 7, "goals": 2, "pct": 0.2857142857142857}]}, "away": {"teamid": 205, "conference": "big10", "wins": 351, "losses": 156, "score": 44, "status": "losing", "players": [{"id": 20, "name": "julie", "shots": 1, "goals": 0, "pct": 0.0}, {"id": 2, "name": "sarah", "shots": 3, "goals": 3, "pct": 1.0}, {"id": 11, "name": "jimmy", "shots": 3, "goals": 3, "pct": 1.0}, {"id": 2, "name": "sarah", "shots": 3, "goals": 3, "pct": 1.0}, {"id": 11, "name": "jimmy", "shots": 3, "goals": 3, "pct": 1.0}, {"id": 2, "name": "sarah", "shots": 3, "goals": 3, "pct": 1.0}, {"id": 11, "name": "jimmy", "shots": 3, "goals": 3, "pct": 1.0}, {"id": 15, "name": "jimmy", "shots": 1, "goals": 0, "pct": 0.0}, {"id": 18, "name": "jane", "shots": 1, "goals": 0, "pct": 0.0}, {"id": 19, "name": "jimmy", "shots": 2, "goals": 1, "pct": 0.5}, {"id": 19, "name": "jimmy", "shots": 2, "goals": 1, "pct": 0.5}, {"id": 9, "name": "shelly", "shots": 2, "goals": 2, "pct": 1.0}, {"id": 14, "name": "jane", "shots": 2, "goals": 2, "pct": 1.0}, {"id": 9, "name": "shelly", "shots": 2, "goals": 2, "pct": 1.0}, {"id": 14, "name": "jane", "shots": 2, "goals": 2, "pct": 1.0}, {"id": 7, "name": "sol", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 7, "name": "sol", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 7, "name": "sol", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 7, "name": "sol", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 12, "name": "julie", "shots": 4, "goals": 0, "pct": 0.0}, {"id": 5, "name": "sean", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 17, "name": "james", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 5, "name": "sean", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 17, "name": "james", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 5, "name": "sean", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 17, "name": "james", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 6, "name": "sly", "shots": 2, "goals": 1, "pct": 0.5}, {"id": 16, "name": "julie", "shots": 2, "goals": 1, "pct": 0.5}, {"id": 6, "name": "sly", "shots": 2, "goals": 1, "pct": 0.5}, {"id": 16, "name": "julie", "shots": 2, "goals": 1, "pct": 0.5}, {"id": 3, "name": "steve", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 13, "name": "james", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 3, "name": "steve", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 13, "name": "james", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 3, "name": "steve", "shots": 3, "goals": 1, "pct": 0.3333333333333333}, {"id": 13, "name": "james", "shots": 3, "goals": 1, "pct": 0.3333333333333333}]}}

In [ ]:

df = spark.createDataFrame([json_data], "string")


df.write.format("mongo") \
    .mode("append") \
    .option("uri", "mongodb://localhost:27017/sidearm.boxscores") \
    .save()

24/03/09 04:21:44 ERROR Executor: Exception in task 0.0 in stage 3745.0 (TID 108234)
com.mongodb.MongoTimeoutException: Timed out after 30000 ms while waiting to connect. Client view of cluster state is {type=UNKNOWN, servers=[{address=localhost:27017, type=UNKNOWN, state=CONNECTING, exception={com.mongodb.MongoSocketOpenException: Exception opening socket}, caused by {java.net.ConnectException: Connection refused (Connection refused)}}]
	at com.mongodb.internal.connection.BaseCluster.getDescription(BaseCluster.java:177)
	at com.mongodb.internal.connection.SingleServerCluster.getDescription(SingleServerCluster.java:41)
	at com.mongodb.client.internal.MongoClientDelegate.getConnectedClusterDescription(MongoClientDelegate.java:147)
	at com.mongodb.client.internal.MongoClientDelegate.createClientSession(MongoClientDelegate.java:98)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.getClientSession(MongoClientDelegate.java:278)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:202)
	at com.mongodb.client.internal.MongoCollectionImpl.executeBulkWrite(MongoCollectionImpl.java:441)
	at com.mongodb.client.internal.MongoCollectionImpl.bulkWrite(MongoCollectionImpl.java:421)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$4(MongoSpark.scala:138)
	at scala.collection.Iterator.foreach(Iterator.scala:941)
	at scala.collection.Iterator.foreach$(Iterator.scala:941)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1429)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3(MongoSpark.scala:122)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3$adapted(MongoSpark.scala:121)
	at com.mongodb.spark.MongoConnector.$anonfun$withCollectionDo$1(MongoConnector.scala:186)
	at com.mongodb.spark.MongoConnector.$anonfun$withDatabaseDo$1(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withMongoClientDo(MongoConnector.scala:154)
	at com.mongodb.spark.MongoConnector.withDatabaseDo(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withCollectionDo(MongoConnector.scala:184)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2(MongoSpark.scala:121)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2$adapted(MongoSpark.scala:120)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2236)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
24/03/09 04:21:44 ERROR TaskSetManager: Task 0 in stage 3745.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o4008.save.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3745.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3745.0 (TID 108234) (jupyter executor driver): com.mongodb.MongoTimeoutException: Timed out after 30000 ms while waiting to connect. Client view of cluster state is {type=UNKNOWN, servers=[{address=localhost:27017, type=UNKNOWN, state=CONNECTING, exception={com.mongodb.MongoSocketOpenException: Exception opening socket}, caused by {java.net.ConnectException: Connection refused (Connection refused)}}]
	at com.mongodb.internal.connection.BaseCluster.getDescription(BaseCluster.java:177)
	at com.mongodb.internal.connection.SingleServerCluster.getDescription(SingleServerCluster.java:41)
	at com.mongodb.client.internal.MongoClientDelegate.getConnectedClusterDescription(MongoClientDelegate.java:147)
	at com.mongodb.client.internal.MongoClientDelegate.createClientSession(MongoClientDelegate.java:98)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.getClientSession(MongoClientDelegate.java:278)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:202)
	at com.mongodb.client.internal.MongoCollectionImpl.executeBulkWrite(MongoCollectionImpl.java:441)
	at com.mongodb.client.internal.MongoCollectionImpl.bulkWrite(MongoCollectionImpl.java:421)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$4(MongoSpark.scala:138)
	at scala.collection.Iterator.foreach(Iterator.scala:941)
	at scala.collection.Iterator.foreach$(Iterator.scala:941)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1429)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3(MongoSpark.scala:122)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3$adapted(MongoSpark.scala:121)
	at com.mongodb.spark.MongoConnector.$anonfun$withCollectionDo$1(MongoConnector.scala:186)
	at com.mongodb.spark.MongoConnector.$anonfun$withDatabaseDo$1(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withMongoClientDo(MongoConnector.scala:154)
	at com.mongodb.spark.MongoConnector.withDatabaseDo(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withCollectionDo(MongoConnector.scala:184)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2(MongoSpark.scala:121)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2$adapted(MongoSpark.scala:120)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2236)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2258)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2207)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2206)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1079)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2445)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2387)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2376)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2196)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2217)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2236)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2261)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1020)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1018)
	at com.mongodb.spark.MongoSpark$.save(MongoSpark.scala:120)
	at com.mongodb.spark.MongoSpark$.save(MongoSpark.scala:169)
	at com.mongodb.spark.sql.DefaultSource.createRelation(DefaultSource.scala:70)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:46)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:70)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:68)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:90)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:132)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:131)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:989)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:989)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:438)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:415)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:301)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: com.mongodb.MongoTimeoutException: Timed out after 30000 ms while waiting to connect. Client view of cluster state is {type=UNKNOWN, servers=[{address=localhost:27017, type=UNKNOWN, state=CONNECTING, exception={com.mongodb.MongoSocketOpenException: Exception opening socket}, caused by {java.net.ConnectException: Connection refused (Connection refused)}}]
	at com.mongodb.internal.connection.BaseCluster.getDescription(BaseCluster.java:177)
	at com.mongodb.internal.connection.SingleServerCluster.getDescription(SingleServerCluster.java:41)
	at com.mongodb.client.internal.MongoClientDelegate.getConnectedClusterDescription(MongoClientDelegate.java:147)
	at com.mongodb.client.internal.MongoClientDelegate.createClientSession(MongoClientDelegate.java:98)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.getClientSession(MongoClientDelegate.java:278)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:202)
	at com.mongodb.client.internal.MongoCollectionImpl.executeBulkWrite(MongoCollectionImpl.java:441)
	at com.mongodb.client.internal.MongoCollectionImpl.bulkWrite(MongoCollectionImpl.java:421)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$4(MongoSpark.scala:138)
	at scala.collection.Iterator.foreach(Iterator.scala:941)
	at scala.collection.Iterator.foreach$(Iterator.scala:941)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1429)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3(MongoSpark.scala:122)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$3$adapted(MongoSpark.scala:121)
	at com.mongodb.spark.MongoConnector.$anonfun$withCollectionDo$1(MongoConnector.scala:186)
	at com.mongodb.spark.MongoConnector.$anonfun$withDatabaseDo$1(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withMongoClientDo(MongoConnector.scala:154)
	at com.mongodb.spark.MongoConnector.withDatabaseDo(MongoConnector.scala:171)
	at com.mongodb.spark.MongoConnector.withCollectionDo(MongoConnector.scala:184)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2(MongoSpark.scala:121)
	at com.mongodb.spark.MongoSpark$.$anonfun$save$2$adapted(MongoSpark.scala:120)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2236)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more

In [ ]:

#  Alternate code
from pyspark.sql.functions import col

df = spark.read.json(spark.sparkContext.parallelize([json_data]))


df_exploded = df.select(
    col("_id"),
    col("timestamp"),
    col("home.teamid").alias("home_teamid"),
    col("home.conference").alias("home_conference"),
    col("home.wins").alias("home_wins"),
    col("home.losses").alias("home_losses"),
    col("home.score").alias("home_score"),
    col("home.status").alias("home_status"),
    col("home.players").alias("home_players"),
    col("away.teamid").alias("away_teamid"),
    col("away.conference").alias("away_conference"),
    col("away.wins").alias("away_wins"),
    col("away.losses").alias("away_losses"),
    col("away.score").alias("away_score"),
    col("away.status").alias("away_status"),
    col("away.players").alias("away_players")
)


df_exploded = df_exploded.withColumn("home_teamid", col("home_teamid").cast("string"))
df_exploded = df_exploded.withColumn("home_wins", col("home_wins").cast("string"))
df_exploded = df_exploded.withColumn("home_losses", col("home_losses").cast("string"))
df_exploded = df_exploded.withColumn("home_score", col("home_score").cast("string"))
df_exploded = df_exploded.withColumn("away_teamid", col("away_teamid").cast("string"))
df_exploded = df_exploded.withColumn("away_wins", col("away_wins").cast("string"))
df_exploded = df_exploded.withColumn("away_losses", col("away_losses").cast("string"))
df_exploded = df_exploded.withColumn("away_score", col("away_score").cast("string"))


df_exploded.printSchema()

df_exploded.write.format("mongo").mode("append").option("database","sidearm").option("collection","boxscores").save()


# Here i have seriliazed the data and selected the necessary columns and renamed the columns along with casting them into string and then uploading it in the mongodb

root
 |-- _id: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- home_teamid: string (nullable = true)
 |-- home_conference: string (nullable = true)
 |-- home_wins: string (nullable = true)
 |-- home_losses: string (nullable = true)
 |-- home_score: string (nullable = true)
 |-- home_status: string (nullable = true)
 |-- home_players: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- goals: long (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- pct: double (nullable = true)
 |    |    |-- shots: long (nullable = true)
 |-- away_teamid: string (nullable = true)
 |-- away_conference: string (nullable = true)
 |-- away_wins: string (nullable = true)
 |-- away_losses: string (nullable = true)
 |-- away_score: string (nullable = true)
 |-- away_status: string (nullable = true)
 |-- away_players: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- goals: long (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- pct: double (nullable = true)
 |    |    |-- shots: long (nullable = true)

In [ ]:

dfNew= gamestream.selectExpr(
  "split(value, '[ ]')[0] as eventId",
  "split(value, '[ ]')[1] as eventTimestamp",
  "split(value, '[ ]')[2] as teamId",
  "split(value, '[ ]')[3] as jerseyNumber",
  "split(value, '[ ]')[4] as goal")
#dfNew.show()

dfNew = dfNew.withColumn("eventId", col("eventId").cast("int"))\
                     .withColumn("eventTimestamp", col("eventTimestamp").cast("string"))\
                     .withColumn("teamId", col("teamId").cast("int"))\
                     .withColumn("jerseyNumber", col("jerseyNumber").cast("int"))\
                     .withColumn("goal", col("goal").cast("int"))

dfNew.show()

# Here we are extracting values from gamestream.txt . The values are present inside the gamestream are sepearted with space so we are making it as seperate columns based on this
# and we are renaming the columns based on our requirements and finally we are displaying the dataframe.

In [ ]:

from pyspark.sql.functions import col, sum as spark_sum,count

playerDF = dfNew.groupBy("teamId", "jerseyNumber") \
    .agg(spark_sum("goal").alias("totalGoals"), count(col("goal").cast("int")).alias("totalShots"))

teamDF = dfNew.groupBy("teamId") \
    .agg(spark_sum("goal").alias("totalTeamGoals"))

finalstatsdf = playerDF.join(teamDF, "teamId", "inner")

finalstatsdf.show()

# Here we are grouping by teamid and jerseyNumber of the players taken from the gamestream.txt file from s3 bucket gamestream in minio and then we are aggregrating the goal columns
# based on the above grouping condition as total goals of a certain player and counting the goals as the total shots of the players. Then we are again grouping the dfNew
# dataframe based on teamid to calculate the totalTeam goals of the home team and away team , Then we are joining these two tables based on teamid to get the resultant dataframe.

In [ ]:


from pyspark.sql import functions as F

# Joining the two DataFrames
joineddf = dfNew.join(finalstatsdf, ["teamId", "jerseyNumber"], "inner")

# Group by teamId to find the most current event ID and timestamp
latest_event_df = joineddf.groupBy("teamId").agg(
    F.max("eventId").alias("latest_event_id"),
    F.max("eventTimestamp").alias("latest_event_timestamp")
)

# Drop duplicate values based on teamId
latest_event_df = latest_event_df.dropDuplicates(["teamId"])

# Joining the joineddf DataFrame with latest_event_df
resultdf = joineddf.join(
    latest_event_df,
    joineddf.teamId == latest_event_df.teamId,
    "inner"
).select(
    joineddf["teamId"],
    joineddf["jerseyNumber"],
    joineddf["eventId"],
    joineddf["eventTimestamp"],
    joineddf["totalGoals"],
    joineddf["totalShots"],
    joineddf["totalTeamGoals"],
    latest_event_df["latest_event_id"],
    latest_event_df["latest_event_timestamp"]
)

# Show the resulting DataFrame

resultdf.select(
    joineddf["teamId"],
    joineddf["jerseyNumber"],
    joineddf["totalGoals"],
    joineddf["totalShots"],
    joineddf["totalTeamGoals"],
    latest_event_df["latest_event_id"],
    latest_event_df["latest_event_timestamp"]
).show()

# Here we are joining the dfNew dataframe from question 3 and finalstatsdf dataframe from question 4  and then we are grouping the resultant dataframe by teamid and using aggregrate
# function max to extract the most current timestamp and eventId. We are joining the joinedDf and the resultant dataframe to obtain all the values for the corresponding latest eventid
# and timestamp . We are displaying the required colums by using select statement and aliasing the column name as per the question given.

In [ ]:

teamsdf = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

boxPlayers = resultdf.join(df,
                           (resultdf.jerseyNumber == df.number),  # Add comma here
                           "left") \
                     .select(resultdf["*"], df["id"].alias("playerId"), df["name"])

# Joining team statistics with team reference data
boxScores = boxPlayers.join(teamsdf, boxPlayers.teamId == teamsdf.id, "inner") \
    .select(boxPlayers["*"], teamsdf["name"].alias("teamName"), teamsdf["conference"], teamsdf["wins"], teamsdf["losses"])


boxScores.show()

# Here we are joining the result df with player table df using playerid and jerseynumber and then displaying all the values and aliasing id value to playerid to avoid ambiguity.
# Then we are joining the boxplayer table with teamsdf table using teamid  and then displaying all the values that are necessary for updating the boxscores.

In [ ]:


from pyspark.sql.functions import col, collect_list, struct, sum as spark_sum, max as spark_max, when
import json


home_team = boxScores.filter(col("teamId") == 101).agg(
    spark_max("latest_event_id").alias("latest_event_id"),
    spark_max("latest_event_timestamp").alias("latest_event_timestamp"),
    spark_max("conference").alias("conference"),
    spark_sum("wins").alias("total_wins"),
    spark_sum("losses").alias("total_losses"),
    spark_sum("totalGoals").alias("total_Goals"),
    collect_list(
        struct(
            col("playerId").alias("id"),
            col("name"),
            col("totalShots").alias("shots"),
            col("totalGoals").alias("goals"),
            (col("totalGoals") / col("totalShots")).alias("pct")
        )
    ).alias("players")
).collect()[0]

away_team = boxScores.filter(col("teamId") == 205).agg(
    spark_max("latest_event_id").alias("latest_event_id"),
    spark_max("latest_event_timestamp").alias("latest_event_timestamp"),
    spark_max("conference").alias("conference"),
    spark_sum("wins").alias("total_wins"),
    spark_sum("losses").alias("total_losses"),
    spark_sum("totalGoals").alias("total_Goals"),
    collect_list(
        struct(
            col("playerId").alias("id"),
            col("name"),
            col("totalShots").alias("shots"),
            col("totalGoals").alias("goals"),
            (col("totalGoals") / col("totalShots")).alias("pct")
        )
    ).alias("players")
).collect()[0]

home_doc = {
    "_id": str(home_team["latest_event_id"]),
    "timestamp": home_team["latest_event_timestamp"],
    "home": {
        "teamid": 101,
        "conference": home_team["conference"],
        "wins": home_team["total_wins"],
        "losses": home_team["total_losses"],
        "score": home_team["total_Goals"],
        "status": "winning" if home_team["total_Goals"] > away_team["total_Goals"] else "losing" if home_team["total_Goals"] < away_team["total_Goals"] else "tied",
        "players": [
            {
                "id": player["id"],
                "name": player["name"],
                "shots": player["shots"],
                "goals": player["goals"],
                "pct": player["pct"]
            }
            for player in home_team["players"]
        ]
    },
    "away": {
        "teamid": 205,
        "conference": away_team["conference"],
        "wins": away_team["total_wins"],
        "losses": away_team["total_losses"],
        "score": away_team["total_Goals"],
        "status": "losing" if home_team["total_Goals"] > away_team["total_Goals"] else "winning" if home_team["total_Goals"] < away_team["total_Goals"] else "tied",
        "players": [
            {
                "id": player["id"],
                "name": player["name"],
                "shots": player["shots"],
                "goals": player["goals"],
                "pct": player["pct"]
            }
            for player in away_team["players"]
        ]
    }
}


json_data = json.dumps(home_doc)


print(json_data)

# Here initially we are creating home team and away team stats by filtering the boxscores based on the team id and aggregrating the following ones based on the latest event id ,
# timestamp and wins& losses and total goals which is aggregrated by sum function to find out total team goals for the home tean  .Playerspecific data is aggregated into a list,
#including each player's ID, name, total shots attempted, total goals scored and shooting percentage (calculated as the ratio of total goals to total shots). Same is calculated for the
# away team . Then we are creating a structure for the json document and specifying the condition for the status of the game , if the total goals of home team is greater than losing team
# we consider the status as wining else consider as losing , if its neither of the following scenario it is considered as tie. We are using the json.dumps function where it converts
# the corresponding document of list to json data and finally we are printing the json data.

In [ ]:

from pyspark.sql.functions import col

df = spark.read.json(spark.sparkContext.parallelize([json_data]))


df_exploded = df.select(
    col("_id"),
    col("timestamp"),
    col("home.teamid").alias("home_teamid"),
    col("home.conference").alias("home_conference"),
    col("home.wins").alias("home_wins"),
    col("home.losses").alias("home_losses"),
    col("home.score").alias("home_score"),
    col("home.status").alias("home_status"),
    col("home.players").alias("home_players"),
    col("away.teamid").alias("away_teamid"),
    col("away.conference").alias("away_conference"),
    col("away.wins").alias("away_wins"),
    col("away.losses").alias("away_losses"),
    col("away.score").alias("away_score"),
    col("away.status").alias("away_status"),
    col("away.players").alias("away_players")
)


df_exploded = df_exploded.withColumn("home_teamid", col("home_teamid").cast("string"))
df_exploded = df_exploded.withColumn("home_wins", col("home_wins").cast("string"))
df_exploded = df_exploded.withColumn("home_losses", col("home_losses").cast("string"))
df_exploded = df_exploded.withColumn("home_score", col("home_score").cast("string"))
df_exploded = df_exploded.withColumn("away_teamid", col("away_teamid").cast("string"))
df_exploded = df_exploded.withColumn("away_wins", col("away_wins").cast("string"))
df_exploded = df_exploded.withColumn("away_losses", col("away_losses").cast("string"))
df_exploded = df_exploded.withColumn("away_score", col("away_score").cast("string"))


df_exploded.printSchema()

df_exploded.write.format("mongo").mode("append").option("database","sidearm").option("collection","boxscores").save()


# Here i have seriliazed the data and selected the necessary columns and renamed the columns along with casting them into string and then we are writing the following output to mongodb
#which stores this specific data into database name in sidearm and in collection boxscores.

In [ ]:

from pyspark.sql.functions import col, sum as spark_sum,count

playerDF = dfNew.groupBy("teamId", "jerseyNumber") \
    .agg(spark_sum("goal").alias("totalGoals"), count(col("goal").cast("int")).alias("totalShots"))

teamDF = dfNew.groupBy("teamId") \
    .agg(spark_sum("goal").alias("totalTeamGoals"))

finalstatsdf = playerDF.join(teamDF, "teamId", "inner")

finalstatsdf.show()

# Step 2 : Extracting the most recent timestamp and event id

from pyspark.sql import functions as F


joineddf = dfNew.join(finalstatsdf, ["teamId", "jerseyNumber"], "inner")


latest_event_df = joineddf.groupBy("teamId").agg(
    F.max("eventId").alias("latest_event_id"),
    F.max("eventTimestamp").alias("latest_event_timestamp")
)


latest_event_df = latest_event_df.dropDuplicates(["teamId"])


resultdf = joineddf.join(
    latest_event_df,
    joineddf.teamId == latest_event_df.teamId,
    "inner"
).select(
    joineddf["teamId"],
    joineddf["jerseyNumber"],
    joineddf["eventId"],
    joineddf["eventTimestamp"],
    joineddf["totalGoals"],
    joineddf["totalShots"],
    joineddf["totalTeamGoals"],
    latest_event_df["latest_event_id"],
    latest_event_df["latest_event_timestamp"]
)


resultdf.select(
    joineddf["teamId"],
    joineddf["jerseyNumber"],
    joineddf["totalGoals"],
    joineddf["totalShots"],
    joineddf["totalTeamGoals"],
    latest_event_df["latest_event_id"],
    latest_event_df["latest_event_timestamp"]
).show()
teamsdf = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

boxPlayers = resultdf.join(df,
                           (resultdf.jerseyNumber == df.number),  # Add comma here
                           "left") \
                     .select(resultdf["*"], df["id"].alias("playerId"), df["name"])


boxScores = boxPlayers.join(teamsdf, boxPlayers.teamId == teamsdf.id, "inner") \
    .select(boxPlayers["*"], teamsdf["name"].alias("teamName"), teamsdf["conference"], teamsdf["wins"], teamsdf["losses"])


boxScores.show()

# Step 3 : Creating the Json document
from pyspark.sql.functions import col, collect_list, struct, sum as spark_sum, max as spark_max, when
import json


home_team = boxScores.filter(col("teamId") == 101).agg(
    spark_max("latest_event_id").alias("latest_event_id"),
    spark_max("latest_event_timestamp").alias("latest_event_timestamp"),
    spark_max("conference").alias("conference"),
    spark_sum("wins").alias("total_wins"),
    spark_sum("losses").alias("total_losses"),
    spark_sum("totalGoals").alias("total_Goals"),
    collect_list(
        struct(
            col("playerId").alias("id"),
            col("name"),
            col("totalShots").alias("shots"),
            col("totalGoals").alias("goals"),
            (col("totalGoals") / col("totalShots")).alias("pct")
        )
    ).alias("players")
).collect()[0]

away_team = boxScores.filter(col("teamId") == 205).agg(
    spark_max("latest_event_id").alias("latest_event_id"),
    spark_max("latest_event_timestamp").alias("latest_event_timestamp"),
    spark_max("conference").alias("conference"),
    spark_sum("wins").alias("total_wins"),
    spark_sum("losses").alias("total_losses"),
    spark_sum("totalGoals").alias("total_Goals"),
    collect_list(
        struct(
            col("playerId").alias("id"),
            col("name"),
            col("totalShots").alias("shots"),
            col("totalGoals").alias("goals"),
            (col("totalGoals") / col("totalShots")).alias("pct")
        )
    ).alias("players")
).collect()[0]

home_doc = {
    "_id": str(home_team["latest_event_id"]),
    "timestamp": home_team["latest_event_timestamp"],
    "home": {
        "teamid": 101,
        "conference": home_team["conference"],
        "wins": home_team["total_wins"],
        "losses": home_team["total_losses"],
        "score": home_team["total_Goals"],
        "status": "winning" if home_team["total_Goals"] > away_team["total_Goals"] else "losing" if home_team["total_Goals"] < away_team["total_Goals"] else "tied",
        "players": [
            {
                "id": player["id"],
                "name": player["name"],
                "shots": player["shots"],
                "goals": player["goals"],
                "pct": player["pct"]
            }
            for player in home_team["players"]
        ]
    },
    "away": {
        "teamid": 205,
        "conference": away_team["conference"],
        "wins": away_team["total_wins"],
        "losses": away_team["total_losses"],
        "score": away_team["total_Goals"],
        "status": "losing" if home_team["total_Goals"] > away_team["total_Goals"] else "winning" if home_team["total_Goals"] < away_team["total_Goals"] else "tied",
        "players": [
            {
                "id": player["id"],
                "name": player["name"],
                "shots": player["shots"],
                "goals": player["goals"],
                "pct": player["pct"]
            }
            for player in away_team["players"]
        ]
    }
}


json_data = json.dumps(home_doc)


print(json_data)

# Step 4 : Writing the Json string to mongodb

from pyspark.sql.functions import col

df = spark.read.json(spark.sparkContext.parallelize([json_data]))


df_exploded = df.select(
    col("_id"),
    col("timestamp"),
    col("home.teamid").alias("home_teamid"),
    col("home.conference").alias("home_conference"),
    col("home.wins").alias("home_wins"),
    col("home.losses").alias("home_losses"),
    col("home.score").alias("home_score"),
    col("home.status").alias("home_status"),
    col("home.players").alias("home_players"),
    col("away.teamid").alias("away_teamid"),
    col("away.conference").alias("away_conference"),
    col("away.wins").alias("away_wins"),
    col("away.losses").alias("away_losses"),
    col("away.score").alias("away_score"),
    col("away.status").alias("away_status"),
    col("away.players").alias("away_players")
)


df_exploded = df_exploded.withColumn("home_teamid", col("home_teamid").cast("string"))
df_exploded = df_exploded.withColumn("home_wins", col("home_wins").cast("string"))
df_exploded = df_exploded.withColumn("home_losses", col("home_losses").cast("string"))
df_exploded = df_exploded.withColumn("home_score", col("home_score").cast("string"))
df_exploded = df_exploded.withColumn("away_teamid", col("away_teamid").cast("string"))
df_exploded = df_exploded.withColumn("away_wins", col("away_wins").cast("string"))
df_exploded = df_exploded.withColumn("away_losses", col("away_losses").cast("string"))
df_exploded = df_exploded.withColumn("away_score", col("away_score").cast("string"))


df_exploded.printSchema()

df_exploded.write.format("mongo").mode("append").option("database","sidearm").option("collection","boxscores").save()




# This is combined python script for extracting the text from minio and converting it to dataframe  and performing necessary operations to obtain the most current timestamp of the
# ganestream and then creating a resultant dataframe boxscores necessary for creating a json document boxscores and then we are updating that into mongodb into sidearm database
# and in collection boxscores.

In [ ]:


from pyspark.sql.functions import col, when , max , min


teamNewdf = boxScores.dropDuplicates(["playerId"])

home_team_df = teamNewdf.filter(col("teamId") == 101)
away_team_df = teamNewdf.filter(col("teamId") == 205)


teamNewdf = teamNewdf.withColumn("wins", when(home_team_df["totalTeamGoals"] > away_team_df["totalTeamGoals"], 1.0)
                               .otherwise(0.0)) \
               .withColumn("losses", when(home_team_df["totalTeamGoals"] < away_team_df["totalTeamGoals"], 1.0)
                                  .otherwise(0.0))


teamNewdf.show()


teamNewdf = teamNewdf.withColumn("wins",
                                  when(teamNewdf["teamId"] == 101,
                                       when(teamNewdf["totalTeamGoals"] > teamNewdf["totalGoals"], 1.0).otherwise(0.0))
                                  .otherwise(when(teamNewdf["teamId"] == 205,
                                                  when(teamNewdf["totalTeamGoals"] < teamNewdf["totalGoals"], 1.0).otherwise(0.0))
                                             .otherwise(0.0))) \
                     .withColumn("losses",
                                 when(teamNewdf["teamId"] == 101,
                                      when(teamNewdf["totalTeamGoals"] < teamNewdf["totalGoals"], 1.0).otherwise(0.0))
                                 .otherwise(when(teamNewdf["teamId"] == 205,
                                                 when(teamNewdf["totalTeamGoals"] > teamNewdf["totalGoals"], 1.0).otherwise(0.0))
                                            .otherwise(0.0)))

teamNewdf_selected = teamNewdf.select("teamId", "conference", "wins", "losses")


agg_teamNewdf = teamNewdf.groupBy("teamId", "conference").agg({"wins": "max", "losses": "min"})
agg_teamNewdf = agg_teamNewdf.withColumnRenamed("max(wins)", "wins").withColumnRenamed("min(losses)", "losses")

agg_teamNewdf = agg_teamNewdf.select("teamId", "conference", "wins", "losses")


agg_teamNewdf.show()

teamsdf.show()

teamsdf = teamsdf.withColumnRenamed('id', 'teamId')


updated_teamsdf = teamsdf.join(
    agg_teamNewdf,
    ['teamId', 'conference'],
    'left_outer'
).withColumn(
    "wins",
    teamsdf["team_wins"] + col("wins")
).withColumn(
    "losses",
    teamsdf["team_losses"] + col("losses")
).drop("team_wins", "team_losses")


updated_teamsdf.show()
updated_teamsdf = updated_teamsdf.withColumnRenamed('teamId', 'id')

# Here we are drop the duplicates values based on the playerid to eliminate the duplicate values and then we are calculating the wins and losses based on the condition we
# used for the status field for the boxscores json document . Then we are extracting the necessary columns from the resultant dataframe and aggregrating the wins and losses
# based on the teamid and conference. And then we are finally adding the wins and losses stats of the resultant dataframes to teams table to update the wins and loss of the
# corresponding home and away teams. and we are displaying it . I have renamed some columns to avoid ambiguity error.

+------+----------+----+------+
|teamId|conference|wins|losses|
+------+----------+----+------+
|   205|     big10| 0.0|   0.0|
|   101|       acc| 1.0|   0.0|
+------+----------+----+------+

+------+-------------+----------+---------+-----------+
|teamId|         name|conference|team_wins|team_losses|
+------+-------------+----------+---------+-----------+
|   101|     syracuse|       acc|       11|          2|
|   205|johns hopkins|     big10|        9|          4|
+------+-------------+----------+---------+-----------+

+------+----------+-------------+----+------+
|teamId|conference|         name|wins|losses|
+------+----------+-------------+----+------+
|   205|     big10|johns hopkins| 9.0|   4.0|
|   101|       acc|     syracuse|12.0|   2.0|
+------+----------+-------------+----+------+

+---+----------+-------------+----+------+
| id|conference|         name|wins|losses|
+---+----------+-------------+----+------+
|205|     big10|johns hopkins| 9.0|   5.0|
|101|       acc|     syracuse|12.0|   2.0|
+---+----------+-------------+----+------+

In [ ]:



updated_teamsdf.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "teams2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()
updated_teamsdf.show()


# Here we are updating the newly updated stats of both home and away teams to mssql in a new table called players 2 . Here we are providing necessary configurations such as
# url , password and user which grants the permission to write and load the values in mssql table.

In [ ]:


from pyspark.sql.functions import sum, col, regexp_extract

playerdf = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

playerdf.show()


boxScores = boxScores.withColumnRenamed("teamId", "teamGID")

# Display the updated DataFrame
boxScores.show()
boxscores_df = boxScores.withColumn("totalGoals", regexp_extract(col("totalGoals"), "\\d+", 0).cast("int")) \
                           .withColumn("totalShots", regexp_extract(col("totalShots"), "\\d+", 0).cast("int"))

# Group the boxscores DataFrame by teamId and jerseyNumber and calculate sum of totalGoals and totalShots
boxscores_grouped_df = boxscores_df.groupBy("teamGId", "jerseyNumber") \
    .agg(sum("totalGoals").alias("totalGoals"), sum("totalShots").alias("totalShots"))

# Join the grouped boxscores DataFrame with the players DataFrame
# Join the players DataFrame with the grouped boxscores DataFrame
updated_players_df = playerdf.join(
    boxscores_grouped_df,
    (playerdf["teamid"] == boxscores_grouped_df["teamGID"]) & (playerdf["number"] == boxscores_grouped_df["jerseyNumber"]),
    "left_outer"
)


# Display the updated DataFrame
updated_players_df.show()

# Here we are reading the players data once again to avoid confusion as we might have same name for different dataframes and i am renaming the teamid to teamGID to avoid ambiguity
# Firstly This part casts the result of the regular expression extraction to an integer and renames it as totalGoals and regex part takes out the first occurence. Then we are aggregrating
# it with teamGId and jerseyNumber with sum of goals and sum of shots. Then we are joining this data with players table.

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

+-------+------------+-------+--------------+----------+----------+--------------+---------------+----------------------+--------+-----+--------+----------+----+------+
|teamGID|jerseyNumber|eventId|eventTimestamp|totalGoals|totalShots|totalTeamGoals|latest_event_id|latest_event_timestamp|playerId| name|teamName|conference|wins|losses|
+-------+------------+-------+--------------+----------+----------+--------------+---------------+----------------------+--------+-----+--------+----------+----+------+
|    101|           1|     67|         03:22|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|     67|         03:22|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|           1|     54|         18:24|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|     54|         18:24|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|           1|     52|         20:22|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|     52|         20:22|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|           1|     24|         40:20|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|     24|         40:20|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|           1|     20|         41:09|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|     20|         41:09|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|           1|     16|         45:49|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|     16|         45:49|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|           1|     10|         49:55|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|     10|         49:55|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|           1|      4|         55:03|         6|         8|            14|             69|                 59:51|       2|sarah|syracuse|       acc|  11|     2|
|    101|           1|      4|         55:03|         6|         8|            14|             69|                 59:51|      11|jimmy|syracuse|       acc|  11|     2|
|    101|          13|     68|         00:42|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
|    101|          13|     63|         07:42|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
|    101|          13|     46|         25:17|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
|    101|          13|     39|         30:26|         1|         7|            14|             69|                 59:51|       4|stone|syracuse|       acc|  11|     2|
+-------+------------+-------+--------------+----------+----------+--------------+---------------+----------------------+--------+-----+--------+----------+----+------+
only showing top 20 rows

+---+------+------+-----+-----+------+-------+------------+----------+----------+
| id|  name|number|shots|goals|teamid|teamGId|jerseyNumber|totalGoals|totalShots|
+---+------+------+-----+-----+------+-------+------------+----------+----------+
| 12| julie|     9|   10|    0|   205|    205|           9|         0|        32|
| 13| james|     2|   45|   15|   205|    205|           2|         6|        18|
|  7|   sol|     9|   52|   20|   101|    101|           9|         0|        50|
| 10| swede|    10|   90|   50|   101|    101|          10|         3|         9|
|  3| steve|     2|   60|   20|   101|    101|           2|        28|        98|
|  6|   sly|     8|   78|   15|   101|    101|           8|         0|        32|
| 15| jimmy|    16|   42|   30|   205|    205|          16|         0|         1|
|  4| stone|    13|   33|   10|   101|    101|          13|         7|        49|
|  1|   sam|     6|   56|   23|   101|    101|           6|         8|        16|
|  9|shelly|    15|   10|    2|   101|    101|          15|         6|        18|
| 18|  jane|     3|   91|   40|   205|    205|           3|         0|         1|
| 14|  jane|    15|   82|   46|   205|    205|          15|         8|         8|
| 19| jimmy|     5|   78|   22|   205|    205|           5|         2|         4|
|  2| sarah|     1|   85|   34|   101|    101|           1|        96|       128|
| 11| jimmy|     1|  100|   50|   205|    205|           1|        18|        18|
| 20| julie|    22|   83|   19|   205|    205|          22|         0|         1|
| 17| james|    17|   40|   14|   205|    205|          17|         6|        18|
| 16| julie|     8|   67|   32|   205|    205|           8|         4|         8|
|  8| shree|     4|   20|    4|   101|    101|           4|         5|        25|
|  5|  sean|    17|   26|    9|   101|    101|          17|         0|         8|
+---+------+------+-----+-----+------+-------+------------+----------+----------+

In [ ]:

from pyspark.sql import functions as F


# Calculate the new values for goals and shots
updated_players_df = updated_players_df.withColumn(
    "totalGoals",
    F.coalesce(updated_players_df["goals"] + F.col("totalGoals"), updated_players_df["goals"])
).withColumn(
    "totalShots",
    F.coalesce(updated_players_df["shots"] + F.col("totalShots"), updated_players_df["shots"])
).drop("goals", "shots")

# Display the updated DataFrame
updated_players_df.show()



# Selecting the desired columns
final_output_df = updated_players_df.select("id", "name", "number", "totalShots", "totalGoals", "teamId")

# Displaying the final output DataFrame
final_output_df.show()

final_output_df = final_output_df.select(
    col("id").alias("id"),
    col("name").alias("name"),
    col("number").alias("number"),
    col("totalShots").alias("shots"),
    col("totalGoals").alias("goals"),
    col("teamId").alias("teamid")
)

# Display the updated DataFrame
final_output_df.show()


final_output_df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

# Then we are adding the goals and shots with totalgoals and totalshots and we are finally droping those columns once the above procedure is done.
#Then we are retreiving necessary columns from  updated players df and alising the columns as per the players table. We are writing the
# resultant dataframe to players 2 with necessary configurations of mssql that grants permission to write in the table players 2.

+---+------+------+------+-------+------------+----------+----------+
| id|  name|number|teamid|teamGId|jerseyNumber|totalGoals|totalShots|
+---+------+------+------+-------+------------+----------+----------+
| 12| julie|     9|   205|    205|           9|         0|        42|
| 13| james|     2|   205|    205|           2|        21|        63|
|  7|   sol|     9|   101|    101|           9|        20|       102|
| 10| swede|    10|   101|    101|          10|        53|        99|
|  3| steve|     2|   101|    101|           2|        48|       158|
|  6|   sly|     8|   101|    101|           8|        15|       110|
| 15| jimmy|    16|   205|    205|          16|        30|        43|
|  4| stone|    13|   101|    101|          13|        17|        82|
|  1|   sam|     6|   101|    101|           6|        31|        72|
|  9|shelly|    15|   101|    101|          15|         8|        28|
| 18|  jane|     3|   205|    205|           3|        40|        92|
| 14|  jane|    15|   205|    205|          15|        54|        90|
| 19| jimmy|     5|   205|    205|           5|        24|        82|
|  2| sarah|     1|   101|    101|           1|       130|       213|
| 11| jimmy|     1|   205|    205|           1|        68|       118|
| 20| julie|    22|   205|    205|          22|        19|        84|
| 17| james|    17|   205|    205|          17|        20|        58|
| 16| julie|     8|   205|    205|           8|        36|        75|
|  8| shree|     4|   101|    101|           4|         9|        45|
|  5|  sean|    17|   101|    101|          17|         9|        34|
+---+------+------+------+-------+------------+----------+----------+

+---+------+------+----------+----------+------+
| id|  name|number|totalShots|totalGoals|teamId|
+---+------+------+----------+----------+------+
| 12| julie|     9|        42|         0|   205|
| 13| james|     2|        63|        21|   205|
|  7|   sol|     9|       102|        20|   101|
| 10| swede|    10|        99|        53|   101|
|  3| steve|     2|       158|        48|   101|
|  6|   sly|     8|       110|        15|   101|
| 15| jimmy|    16|        43|        30|   205|
|  4| stone|    13|        82|        17|   101|
|  1|   sam|     6|        72|        31|   101|
|  9|shelly|    15|        28|         8|   101|
| 18|  jane|     3|        92|        40|   205|
| 14|  jane|    15|        90|        54|   205|
| 19| jimmy|     5|        82|        24|   205|
|  2| sarah|     1|       213|       130|   101|
| 11| jimmy|     1|       118|        68|   205|
| 20| julie|    22|        84|        19|   205|
| 17| james|    17|        58|        20|   205|
| 16| julie|     8|        75|        36|   205|
|  8| shree|     4|        45|         9|   101|
|  5|  sean|    17|        34|         9|   101|
+---+------+------+----------+----------+------+

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
| 12| julie|     9|   42|    0|   205|
| 13| james|     2|   63|   21|   205|
|  7|   sol|     9|  102|   20|   101|
| 10| swede|    10|   99|   53|   101|
|  3| steve|     2|  158|   48|   101|
|  6|   sly|     8|  110|   15|   101|
| 15| jimmy|    16|   43|   30|   205|
|  4| stone|    13|   82|   17|   101|
|  1|   sam|     6|   72|   31|   101|
|  9|shelly|    15|   28|    8|   101|
| 18|  jane|     3|   92|   40|   205|
| 14|  jane|    15|   90|   54|   205|
| 19| jimmy|     5|   82|   24|   205|
|  2| sarah|     1|  213|  130|   101|
| 11| jimmy|     1|  118|   68|   205|
| 20| julie|    22|   84|   19|   205|
| 17| james|    17|   58|   20|   205|
| 16| julie|     8|   75|   36|   205|
|  8| shree|     4|   45|    9|   101|
|  5|  sean|    17|   34|    9|   101|
+---+------+------+-----+-----+------+